<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
    "api/users/show.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    cartoon_yak: "<%= image_path("cartoon_yak.png") %>",
    majestic_yak: "<%= image_path("majestic_yak.jpg") %>"
  }

</script>

<div id="root">

</div>
