.channel-sidebar-container {
  height: 92vh;
  width: 53%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  // border: 1px solid green;
  box-sizing: border-box;
}

// clicking on edit profile stuff will
// trigger dropdown close cb and reveal the channel sidebar
