.information-container {
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #e8e8e8;
    height: 60px;
    padding-top: 15px;
}

.info-room-title {
    font-size: 20px;
    font-weight: 700;
}

.room-text-container {
  margin-left: 23px;
}

.room-stats {
  display: flex;
  flex-direction: row;

}

.fa-user-o {
  margin-top: 1px;
  margin-right: 5px;

}

.line-separator {
  margin-left: 3px;
  margin-right: 3px;
}

.leave-channel-btn {
  text-align: center;
  float: right;
  padding: 4px;
  width: 105px;
  height: 20px;
  color: white;
  background-color: #29AE78;
  border: 1px solid #E8E8E8;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 4%;
  top: 40px;
}

div.leave-channel-btn:hover {
  border: 1px solid #FF0000;
}
