.info-room-title {
    font-size: 20px;
    font-weight: 700;
}

.room-text-container {
  padding-left: .8em;
  width: 50%;
}

.room-stats {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  color: #717274;
  font-size: 13px;
}

.fa-user-o {
  margin-top: 1px;
  margin-right: 5px;

}

.line-separator {
  margin-left: 3px;
  margin-right: 3px;
}

.leave-channel-btn {
  text-align: center;
  float: right;
  padding: 4px;
  width: 105px;
  height: 20px;
  color: white;
  background-color: #29AE78;
  border: 1px solid #E8E8E8;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 4%;
  top: 40px;
}

div.leave-channel-btn:hover {
  border: 1px solid #FF0000;
}

.channel-information-nav-btns {
  width: 40%;
  color: #717274;
  line-height: 2.4em;
  font-size: 1.3em;
}

.info-nav {
  cursor: pointer;
}

span.info-nav:hover {
  color: #007AB8
}
