.display-container {
  width: 100%;
  height: 100vh;
  // position: absolute;
  display: flex;
}

.profile-information {
  // position: absolute;

  flex-direction: column;
  background-color: #4D394B;
  background-color: red;
  height: 60px;
  width: 220px
}

.channel-selection {
  // position: absolute;
  flex-direction: column;
  background-color: #4D394B;
  width: 220px;
  height: 100%;
  top: 60px;
  left: 0px;
}
.current-channel-container {
  // position: absolute;
  width: 86%;
  display: block;
}

.channel-information {
  // position: absolute;
  height: 60px;
  // width: 1380px;
  flex-direction: column;
  width: 100%;
  top: 0px;
  display: block;

  background-color: yellow;

}
.messages-container {
  display: flex;
  background-color: purple;
  // width: 1380px;
  height: 95%;
  top: 60px;
  left: 220px
}
