.display-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
}


.channel-selection {
  // position: absolute;
  flex-direction: column;
  background-color: #4D394B;
  width: 220px;
  height: 100vh;
  top: 60px;
  left: 0px;
}
.current-channel-container {
  // position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;

}
.messages-container {
  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
  overflow: auto;
  width: 100%;
  height: 100vh;


}
.current-channel-sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  // height: 100vh;
}

.dynamic-channel-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 84.5vh;
}

.messages-content-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90.8vh;
}

.channel-sidebar-info {
  display: flex;
  flex-direction: column;
}

.new-messages-form-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;

  width: 100%;
  height: 80px;
}

.channel-information-container {
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #e8e8e8;
    height: 8vh;
    width: 100%;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-bottom: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
