.messages-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  overflow: auto;
// annoying horizontal overflow issues start HERE!!!!
}
.message-element {

  height: 48px;
  // display: flex;
  // flex-direction: row;
  font-family: 'Lato', sans-serif;
  // margin-top: 10px;
  display: flex;
  align-content: flex-start;


}

li.message-element:hover {
  background-color: #F9F9F9;
}


.user-picture {
  height: 35px;
  width: 35px;
  // min-width: 35px;


  margin-top: 7px;
  margin-bottom: 15px;
  margin-left: 27px;
  background-color: red;
  border-radius: 4px;
}

.message-text {
  max-width: 80%;
  margin-left: 10px;

  margin-left: 13px;
  margin-top: 7px;
  margin-bottom: 15px;

}

.message-content {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin-right: 55px;
  flex-wrap: wrap;
  margin-bottom: auto;
}

.message-author {
  font-weight: 900;

}
.channel-messages-list {
  width: 100%;
}

.current-channel-sections {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.message-input-field {

}
