.dm-users-search {

  // margin-right: 20px;
  // margin-bottom: 30px;
  width: 100%;
  height: 50px;
  // border: 1px solid #c5c5c5;
  // vertical-align: middle;
  border-radius: 4px;
  text-indent: 15px;
}

.new-dm-container {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.new-gm-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}


.dm-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%
}
.gm-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new-dm-submit {
  height: 50px;
  width:  60px;
  min-width: 60px;
  background-color: #CDCECE;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-left: 20px;
  align-self: flex-end;
}

.modal-form {
  align-items: center;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 51%;
  height: 100%;
}

.new-dm-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 30px;
  // width: 560px;
  width: 100%;
  height: 50px;
  // border: 1px solid #c5c5c5;
  border-radius: 4px;
  text-indent: 15px;
}

.gm-input {
  height: 40px;
  border: 1px solid #c5c5c5;
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  border-radius: 4px;
  text-indent: 4

}

.fa-search {
  display: flex;
  flex-direction: row;
  color: #A9A9AE;
  vertical-align: center;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

div.gm-input:hover {
  border: 1px solid #2780F8;
}
input.gm-channels-search:active {
  div.gm-input {
      border: 1px solid #2780F8;
  }
}

.input-border {
  border: 1px solid #c5c5c5;
  display: flex;
  flex-direction: row;
  width: 100%;
  // height: 50px;
  min-height: 50px;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 3px;
}

.user-search-box {
  display: flex;
  flex-direction: row;
    // border: 1px solid #c5c5c5;
  width: 100%;
}

.dm-form-heading {
  font-size: 30px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #2C2D30;
  margin-bottom: 40px;
}

.gm-form-heading {
  font-size: 30px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #2C2D30;
  margin-bottom: 40px;
}

.gm-channels-search {
  width: 90%;
}
// div.input-border:active {
//   border: 1px solid rgb(39, 128, 248);
// }
input.dm-users-search:active {
  // border: 1px solid rgb(39, 128, 248);
  div {
    // border: 10px solid rgb(39, 128, 248);
  // border-top: 1px solid #E8E8E8;
  }
  //
}
.users-heading {
  text-align: left;
  margin-left: 3px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  color: #CDCECE;
  margin-top: 7px;
  margin-bottom: 30px;
}

.channels-heading {
  text-align: left;
  margin-left: 3px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  color: #CDCECE;
  margin-top: 7px;
  margin-bottom: 30px;
}
.user-table-element {
  border-top: 1px solid #E8E8E8;
  width: 605px;
  height: 65px;
  border-radius: 4px;

  // overflow-y: auto;
}

.chatroom-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.chatroom-table-element {
  border-top: 1px solid #E8E8E8;
  width: 605px;
  height: 65px;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

li.user-table-element:hover {
  border: 1px solid #D3ECFA;
  background-color: rgb(237, 247, 253);
}

li.chatroom-table-element:hover {
  border: 1px solid #D3ECFA;
  background-color: rgb(237, 247, 253);
}

.dm-user-picture {
  display: inline-block;
  margin: 15px;

  background-color: yellow;
  border-radius: 4px;
  height: 35px;
  width: 35px;
}

.dm-username {
  display: inline-block;
  margin-right: 5px;
  font-family: 'Lato', sans-serif;
  color: #555459;
  margin-top: 20px;
}

.dm-user-fullname {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  color: #CDCECE;
  margin-top: 20px;
}

.user-token {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  padding: 3px;
  background-color: #2D9EE0;
  color: #FFFFFF;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.user-token-list {
  max-height: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dm-user-info {
  cursor: pointer;
  display: flex;
  flex-direction: row;


}

.submittableButton {
  background-color: #29AE78;
}

.room-title {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}

.room-descriptors {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 5px;
}

.people-stats {
  margin-bottom: 15 px;
  margin-top: 18px;
}

.date-created {
  font-style: italic;
  margin-bottom: 20px;
}
