.dm-users-search {

  // margin-right: 20px;
  // margin-bottom: 30px;
  width: 100%;
  height: 50px;
  // border: 1px solid #c5c5c5;
  // vertical-align: middle;
  border-radius: 4px;
  text-indent: 15px;
}

.new-dm-container {
  display: flex;
  flex-direction: row;
  width: 80%;

}

.new-gm-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}


.dm-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gm-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new-dm-submit {
  height: 50px;
  width:  60px;
  min-width: 60px;
  background-color: #CDCECE;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-left: 20px;
  align-self: flex-end;
}

.modal-form {
  align-items: center;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 51%;
  height: 100%;
}

.new-dm-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 30px;
  // width: 560px;
  width: 100%;
  height: 50px;
  // border: 1px solid #c5c5c5;
  border-radius: 4px;
  text-indent: 15px;
}

.user-search-box {
  display: flex;
  flex-direction: row;
    // border: 1px solid #c5c5c5;
  width: 100%;
}

.dm-form-heading {
  font-size: 30px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #2C2D30;
  margin-bottom: 40px;
}

.gm-form-heading {
  font-size: 30px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #2C2D30;
  margin-bottom: 40px;
}
.input-border {
  border: 1px solid #c5c5c5;
  display: flex;
  flex-direction: row;
  width: 100%;
  // height: 50px;
  min-height: 50px;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 3px;
}

// div.input-border:active {
//   border: 1px solid rgb(39, 128, 248);
// }
input.dm-users-search:active {
  // border: 1px solid rgb(39, 128, 248);
  div {
    // border: 10px solid rgb(39, 128, 248);
  // border-top: 1px solid #E8E8E8;
  }
  //
}
.users-heading {
  text-align: left;
  margin-left: 3px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  color: #CDCECE;
  margin-top: 7px;
  margin-bottom: 30px;
}

.channels-heading {
  text-align: left;
  margin-left: 3px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  color: #CDCECE;
  margin-top: 7px;
  margin-bottom: 30px;
}
.user-table-element {
  border-top: 1px solid #E8E8E8;
  width: 605px;
  height: 65px;
  border-radius: 4px;
  overflow-y: auto;
}

.chatroom-table-element {
  border-top: 1px solid #E8E8E8;
  width: 605px;
  height: 65px;
  border-radius: 4px;
  overflow-y: auto;
}

li.user-table-element:hover {
  border: 1px solid #D3ECFA;
  background-color: rgb(237, 247, 253);
}

li.chatroom-table-element:hover {
  border: 1px solid #D3ECFA;
  background-color: rgb(237, 247, 253);
}

.dm-user-picture {
  display: inline-block;
  margin: 15px;
  background-color: yellow;
  border-radius: 4px;
  height: 35px;
  width: 35px;
}

.dm-username {
  display: inline-block;
  margin-right: 5px;
  font-family: 'Lato', sans-serif;
  color: #555459;
}

.dm-user-fullname {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  color: #CDCECE;
}

.user-token {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  padding: 3px;
  background-color: #2D9EE0;
  color: #FFFFFF;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.user-token-list {
  max-height: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dm-user-info {
  cursor: pointer;
}

.submittableButton {
  background-color: #29AE78;
}
